:root {
    --primary: #12233d !important;
    --secondary: #d1dee2 !important;
    --tertiary: #466497 !important;
}

body {
    background-color: var(--primary);
    margin: 0;
    font-family: 'Philosopher';
}

.navbar {
    background-color: var(--secondary);
    font-family: 'Philosopher';
}

.navbar-brand {
    color: var(--primary);
    font-weight: bold;
}

.nav-link {
    color: var(--primary);
}

.row {
    color: var(--secondary);
    font-family: 'Philosopher';
}

.custom-style-1 {
    height: 500px;
    background-color: var(--primary);
}

.title-custom-padding {
    padding-top: 10vh;
    padding-left: 20px;
}

.img-fluid {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    display: block;
}

footer{
    background-color: var(--tertiary);
    margin:0;
    height:50px;
}



