:root {
    --primary: #12233d !important;
    --secondary: #d1dee2 !important;
    --tertiary: #466497 !important;
}

body {
    background-color: var(--primary);
    margin: 0;
    font-family: 'Philosopher';
}

.navbar {
    background-color: var(--secondary);
    font-family: 'Philosopher';
}

.navbar-brand {
    color: var(--primary);
    font-weight: bold;
}

.nav-link {
    color: var(--primary);
}

.row {
    color: var(--secondary);
    font-family: 'Philosopher';
}

.custom-style-1 {
    height: 500px;
    background-color: var(--primary);
}

.title-custom-padding {
    padding-top: 10vh;
    padding-left: 20px;
}

.img-fluid {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    display: block;
}

footer{
    background-color: var(--tertiary);
    margin:0;
    height:50px;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.75);
    border-radius: 0.5rem;
    border: 2px solid #000000;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--secondary);
    opacity: 0.8;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

